.btn-blue {
	background-color: #9D0D3A;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Hind Siliguri', sans-serif;
}
rgb(87,60,23)
#9D0D3A
#5D344C